<html>
<head>
</head>
<body>
    <a href = "/projects/{{id}}">Назад </a>
    <form method = "post" >
    <input type = "text" name = "deadline" value = Дедлайн>
    <input type = "text" name = "description" value = Описание>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type = "submit"> Добавить </button>
    </form>
</body>
</html>