<html>
<head>
</head>
<body>
<a href = "/profile">Назад</a>
 {{#users}}
            <div>

            <i><a href="/user/{{id}}">{{username}}</a></i>
            <strong>{{active}}</strong>
            </div>
 {{/users}}
</body>
</html>