<html>
    <body>
        <a href = "/projects/{{task.idProj}}"">Назад</a>
        <form method = "post">



          <input type ="hidden" name = "_csrf" value = "{{_csrf.token}}" />
          <button type = "submit">Удалить </button>
        </form>
    </body>
</html>